{% extends "base.html" %}
{% load omfilters %}
{% load static %}

{% block titulo %}Payment |{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Choose your payment method</h3>
        <p>To developer: Add your preferred method.</p>
    </div>
</div>

{% include 'partials/_order.html' %}


        <div class="row mt-4">
            <div class="col">
                <a href="#" class="btn btn-primary btn-block btn-lg">Pay</a>
            </div>
        </div>


{% endblock content %}